[SddmGreeterTheme]
Name=sddm-astronaut-violet
Description=Violet Evergarden animated theme
Author=keyitdev
Website=https://github.com/Keyitdev/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.4
ConfigFile=Themes/violet_evergarden.conf
Screenshot=Backgrounds/violet-evergarden.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-violet
Theme-API=2.0
QtVersion=6
